@main-color: #f3f1e6;
@font-color: #757471;
@orange: #edae00;
@booking: #fafafa;

* {margin:0;padding:0;}

#header {
    position: relative;
    display: inline-block;
    width: 100%;
    /*height: 604px;*/
    background: @main-color url(../img/bitmap.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
.navbar {
    padding: 0;
    background-color: @main-color;
    a {
        padding: 0;
    }
    &-brand{
        margin-right: 0;
    }
    &-nav {
        background-color: @main-color;
        li {
            text-align: center;
            a {
                font-size: 14pt;
                font-weight: 250;
                text-transform: uppercase;
                &:hover{
                    border-bottom: 1px solid @orange;
                }
            }
        }
    }
}

#main_logo {
    max-width: 329px;
    margin: 180px auto 10% auto;
}

.booking {
    padding: 15px;
    background-color: @booking;
    margin: 5% auto;
    max-width: 984px;
}
.form-group {
    padding: 15px;
}
.btn {
    color: white;
    &:hover {
        cursor: pointer;
    }
}
